
<b>Description</b>

     <table style="width:100%" bgcolor="grey" >
  <tr style="border:1px solid black">
    <th style="border:1px solid black">Name</th>
    <th style="border:1px solid black">Hobby</th>
    <th style="border:1px solid black"> Occupation</th>
  </tr>


   <tr style="border:1px solid black">
    <td style="border:1px solid black">{{ object.name }}</td>
    <td style="border:1px solid black">{{ object.Hobby }}</td>
    <td style="border:1px solid black"> {{ object.occupation}}</td>
  </tr>



     </table>